{erl_opts, [debug_info]}.
{deps,
	[{pe4kin, ".*", {git, "git@gitlab.com:iqom/etelebot.git", {branch, "master"}}},
	 {escalus, ".*", {git, "https://github.com/esl/escalus.git", {branch, "master"}}},
	 {xmpp, ".*", {git, "git@gitlab.com:iqom/xmpp.git", "ederibit-1.6.1"}}
	]}.

{shell, [
	% {config, "config/sys.config"},
	{apps, [ebridgebot]}
]}.
