{erl_opts, [debug_info]}.
{deps,
	[{mimetypes, ".*", {git, "https://github.com/erlangpack/mimetypes.git", {branch, "master"}}},
	 {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
 	 {pe4kin, ".*", {git, "git@gitlab.com:iqom/etelebot.git", "upd-jiffy"}},
 	 {escalus, ".*", {git, "https://github.com/esl/escalus.git", {branch, "master"}}},
 	 {xmpp, ".*", {git, "git@gitlab.com:iqom/xmpp.git", "ederibit-1.6.1"}}
	]}.

{shell, [
	{config, "etc/sys.config"},
	{apps, [ebridgebot]}
]}.
