[{ebridgebot,
	[{test_path, "/path_to_ebridgebot/ebridgebot"},
	 {debug_info, true},
	 {bots,
		[{tg_bot,
			[{component, <<"tg.localhost">>},
				{name, <<"ebridge_bot">>},
				{host, <<"127.0.0.1">>},
				{upload_host, <<"upload.localhost">>},
				{upload_endpoint, <<"http://localhost:5443/upload/">>}, %% add if need upload to third party
				{nick, <<"tg_bot">>},
				{password, <<"secret">>},
				{module, ebridgebot_tg},
				{port, 8888},
				{token, <<"6066841531:AAEK0aUdaP6eoJWcS0020VOyYQpNhhMpBPE">>},
				{ignore_commands, true},
				{linked_rooms, [{-930545885, <<"deribit.test2@conference.localhost">>}]}]}]}]}].