[{ebridgebot,
	[{test_path, "/path_to_ebridgebot/ebridgebot"},
	 {debug_info, true},
	 {bots,
		[{tg_bot,
			[#{bot_id => tg_bot,
				component => <<"tg.localhost">>,
				bot_name => <<"ebridge_bot">>,
				host => <<"127.0.0.1">>,
				upload_host => <<"upload.localhost">>,
				upload_endpoint => <<"http://upload.yoursite.com">>, %% (optional) url upload endpoint must be without port and not localhost
				component => <<"tg.localhost">>,
				nick => <<"tg_bot">>,
				password => <<"secret">>,
				module => ebridgebot_tg,
				port => 8888,
				token => <<"6066841531:AAEK0aUdaP6eoJWcS0020VOyYQpNhhMpBPE">>,
				ignore_commands => true,
				format => #{usernick => bold, system => pre},
				rooms => [{-1001942208833, #{jid => <<"deribit.test2@conference.localhost">>}}]} %% optional #{password => <<"pwd">>} for xmpp muc
			]}]}]}].