[{ebridgebot,
	[{test_path, "/path_to_ebridgebot/ebridgebot"}]},
	{bots,
		[{tg_bot,
			[{component, <<"tg.localhost">>},
				{name, <<"ebridge_bot">>},
				{host, <<"127.0.0.1">>},
				{component, <<"tg.localhost">>},
				{nick, <<"tg_bot">>},
				{password, <<"secret">>},
				{module, ebridgebot_tg_component},
				{type, tg},
				{port, 8888},
				{token, <<"6066841531:AAEK0aUdaP6eoJWcS0020VOyYQpNhhMpBPE">>},
				{linked_rooms, [{-930545885, <<"deribit.test2@conference.localhost">>}]}]}]}].